/* ======================================================================
                            COLORES DEL SIDEBAR
=========================================================================*/

$sidebar-primary-color: #181F2C !important;
$sidebar-secondary-color: #0143A3 !important;

.list-group-flush>.list-group-item {
    background: #BC0226;
    color: white;
    font-size: 19px;
}

/* ======================================================================
                        COLORES PÁGINA PÚBLICA
=========================================================================*/

.r-body {
    width: 100%;
}