<!-- Sidebar -->
<div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Monitoreo de Equipos</a>
    </div>
    <div class="list-group list-group-flush">
        <a [routerLink]="['/add-pc']" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action bg-sidebar-menu-item"> <i class="fas fa-plus"></i> &nbsp; Agregar Equipo</a>
        <a [routerLink]="['/monitor-pc']" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action bg-sidebar-menu-item"> <i class="fas fa-desktop"></i> &nbsp; Monitorear Equipos</a>
    </div>
</div>
<!-- /#sidebar-wrapper -->